/*******************************************************************************
Font settings copied from:
    Slate Theme for GitHub Pages
    by Jason Costello, @jsncostello
*******************************************************************************/

@import url(pygment_trac.css);
@import url(bootstrap.min.css);

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

pre, code {
  font-family: Monaco, Menlo, Consolas, "Courier New", "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;
}

th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
 }